$gray-light: #a0b3b0;
$gray: #ddd;
$white: #ffffff;
$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

.input {
  font-size:22px;
  display:inline-block;
  width:48%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  margin-bottom: 20px;
  &:focus {
		outline:0;
		border-color:$main;
  }
  &.first-name{
    margin-right: 4%;
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 0;
  font-size:22px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}
