$gray-light: #a0b3b0;
$gray: #ddd;
$white: #ffffff;
$main: #1ab188;

.field{
  font-size:22px;
  display:inline-block;
  width:37%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  margin-bottom: 20px;
  &:focus {
		outline:0;
		border-color:$main;
  }
  &.first-name{
    margin-right: 4%;
  }
  &.last-name{
    margin-right: 4%;
  }
}

.button{
  &.delete{
    padding: 5px;
  }
  &.update{
    padding: 5px;
    margin-right: 3%;
  }
}
