$link-default-color: #aaaaaa;
$link-active-color: #ffffff;
$button-default-color: #000000;
$button-active-color: #333333;
$input-border-default-color: #a0b3b0;
$input-border-focus-color: #1ab188;
$input-default-color: #ffffff;
$input-active-color: #666666;
$input-error-color: #330000;
$input-valid-color: #003300;
